body {
    font: normal 12px/150% Calibri, Helvetica, sans-serif;
    text-align: center;
    background: #fff;
    overflow: auto;
    font-size: 30px;
    color: #7f6040;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Calibri, Helvetica, sans-serif;
    background: #fff;
    overflow: auto;
    border: 1px solid #1fa129;
    border-radius: 10px;
}

.datagrid table td, .datagrid table th {
    /* padding: 3px 10px;*/
}

.datagrid table thead th {
    background: #93e886;
    color: #0f0f0f;
    font-size: 18px;
    font-weight: bold;
    border-left: 1px solid #1fa129;
    padding-left: 5px;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #0f0f0f;
    padding-left: 5px;
    border-left: 1px solid #1fa129;
    font-size: 15px;
    font-weight: normal;
}


.datagrid table tbody tr:nth-child(even) {
    background: #c6ffb0;
    /*background: #fff5d8;*/
    color: #0f0f0f;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.checkbox {
    transform:scale(1.9);
    opacity:0.9;
    cursor:pointer;
}

.button-main {
    width: 300px;
    background-color:#68d651;
    border-radius:12px;
    font-size:36px;
    border:2px solid #20c931;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    padding:12px 31px;
}
.button-main:hover {
    background-color:#8ced57;
}
.button-main:active {

    position:relative;
    top:1px;
}


.my-th-selected {
    width: 50px;
    text-align: center;
    font-size:14px;
    border: 2px solid #20c931;
    background: #8ced57;
    /*background: #fff5d8;*/
    color: #ffffff;
}
.my-th {
    width: 50px;
    text-align: center;
    font-size:14px;
    border: 2px solid #20c931;
    background: #68d651;
    /*background: #fff5d8;*/
    color: #ffffff;
}
.my-th:hover{
    background: #8ced57;
}

.myButton {

width: 100px;
    background-color:#68d651;
    border-radius:16px;
    font-size:16px;
    border:2px solid #20c931;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    padding:0px;
}
.myButton:hover {
    background-color:#5cbf2a;
}
.myButton:active {
    position:relative;
    top:1px;
}
.div-navigation-panel{
    border:3px solid #c2fab5;
    border-radius: 15px;
    padding-bottom: 0px;
    font-size: 28px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
}
.div-navigation-panel table{
    border: white;
}

.div-navigation-panel table th{
    border: white;
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
}

.div-navigation-panel a{
    text-decoration: none;
}
.div-navigation-panel a:hover{
    text-decoration: underline;
}

.a-selected{
    text-decoration: none;
}
.a-selected:hover{
    text-decoration: none;
}
/*.button-main{
    background-color: #90ff7a;
    text-align: center;
    cursor: pointer;
}
.button-main:hover{
    background-color: #71d66b;
    text-align: center;
    text-decoration-color: white;
    cursor: pointer;
}*/





/*.btn-modal-ok{
    background-color: #90ff7a;
    color: white;
    cursor:pointer;

}

.btn-del {

    border-radius: 10px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #c71818;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-del:hover {
    background: #ff0000;
    text-decoration: none;
}*/